body {
    margin: 0;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 46px;
    height: 32px;
    margin-right: 10px;
}

.brand-name {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.navbar-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding-left: 775px;
}

.menu-item {
    margin-right: 14px;
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.menu-item:last-child {
    margin-right: 0;
}

.menu-item:hover {
    color: #333;
}

.burn-button {
    background-color: black;
    font-weight: 700;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.burn-button:hover {
    background-color: red;
}

.content {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;
}

.content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.text-box {
    text-align: center;
    margin-top: 20px;
    color: black;
    font-size: 16px;
    font-weight: 200;
  }

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
 }

.custom-button {
    padding: 5px 21px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-size: 14px;
    font-weight: bold;
    margin: 0 10px;
    height: 45px;
}

.black-button {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.white-button {
    background-color: black;
    color: white;
}

.white-button:hover {
    background-color: red;
    color: white;
}